
.modal .modal-content .modal-header {
    color: white;
    background-color: #7d7d7d;
    padding: 10px 20px;
  }
  
  .modal .modal-content .modal-header .close {
    background: transparent;
    border: none;
  }
  
  .modal .modal-content .modal-header .close span {
    font-size: 30px;
    color: white;
  }